 /* versão mobile */
.cabecalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");    
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;   
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    width: 80%;
    flex-grow: 1;
}
.container__img{
    padding: 0.25em;
    margin: auto;
    display: flex;
}
.container__imagem{
    padding: 1em;
}
.container__titulo{
    display: none;
}
.container__texto{
    display: none;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburger{
    background-image: url("../img/MenuAberto.svg");
}
.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
    width: 30%;
    margin-right: 1em;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__link{
    background:  var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
 }
 .container__botao{
    display: none;
 }
 .opcoes{
    display: none;
}
 /* versão tablet */
 @media screen and (min-width:1024px) {    
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);   
        font-size: 30px; 
    }
    .container__titulo{
        font-weight: 400;
        display: block;
        margin-left: 0.5em;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
        width: 120%;
    }
    .opcoes__item{
        padding: 0 1.8em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho__menu-hamburger{
        display: none;
    }
    .imgLogo{
        padding-left: 1em;
    }
    .container{
        /* centralizando a lista no header */
        width: 65%;
    }
    .container__imagem-transparente{
        display: none;
    }
    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }
    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item{
        padding: 1.3em 1em;
    }        
    .opcoes__botao{
        display: none;
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color : var(--branco);
        text-decoration: none;
    }
 }
  /* versão desktop */
  @media screen and (min-width:1728px) {   
    .cabecalho{
        /* background: rgb(215, 238, 130); */
        padding: 0 2em;
    } 
    .container{
        /* background: red; */
        width: 12%;  
     }
     .opcoes{    
        /* background: blueviolet; */
        width: 55%;        
        margin-right: auto;
        padding: 20px;
        
     }    
     .container__img{
        /* background: rgb(0, 191, 255); */
        display: flex;
        justify-content: flex-end;
        width: 33%; 
    }
    .container__link{
        display: flex;
        width: 33.33%; 
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        /* background: rgb(31, 236, 141); */
    }
    .container__texto{
        display: block;
    }    
  }